<img src =https://i.pinimg.com/474x/4f/72/d3/4f72d331372ed6a69e2b2fa3dce89645.jpg width=300>



### Análise de Dados - URBS Curitiba

### Autora: Caroline Attilio de Lima

# Importando bibliotecas e base de dados

In [41]:
import pandas as pd 
import numpy as np 
import json as json

# PARTE 1 - MEDIUM

In [42]:
# IMPORTANDO AS BASES DE DADOS

dfLinhas = pd.read_json ('2020_11_12_linhas.json')
dfPontos = pd.read_json ('2020_11_12_pontosLinha.json')

In [43]:
def formatacao_df(df):
    df['LAT'] = df['LAT'].str.replace(',', '.')
    df['LON'] = df['LON'].str.replace(',', '.')
    df['LAT'] = df['LAT'].astype(float)
    df['LON'] = df['LON'].astype(float)
    df['LAT'] = round(df['LAT'],6)
    df['LON'] = round(df['LON'],6)
    return df

In [44]:
dfLinhas.head()

   COD                     NOME SOMENTE_CARTAO CATEGORIA_SERVICO NOME_COR
0  464  A. MUNHOZ / J. BOTÂNICO              S      CONVENCIONAL  AMARELA
1  226                   ABAETÉ              N       ALIMENTADOR  LARANJA
2  182                ABRANCHES              N           TRONCAL  AMARELA
3  332                 ACRÓPOLE              N       ALIMENTADOR  LARANJA
4  334                 AGRÍCOLA              F       ALIMENTADOR  LARANJA

In [45]:
dfPontos.head()

,NOME,NUM,LAT,LON,SEQ,GRUPO,SENTIDO,TIPO,ITINERARY_ID,COD
0,"Av. Manoel Ribas, 531 - Mercês",110037,"-25,422482678274","-49,284327553297",39,,Horário,Novo mobiliário,481,010
1,"Av. Visc. de Guarapuava, 1692 - Centro",140204,"-25,432681513162","-49,258593202776",11,,Horário,Novo mobiliário,481,010
2,"R. Cap. Souza Franco, 661 - Bigorrilho",180042,"-25,432206677422","-49,292185860119",34,,Horário,Novo mobiliário,481,010
3,"Av. do Batel, 1614 - Batel",180067,"-25,442672993214","-49,288137735075",21,,Anti-horário,Novo mobiliário,482,011
4,"Viaduto Colorado, 1159 - Rebouças",140216,"-25,436607355344","-49,260179058856",38,,Anti-horário,Novo mobiliário,482,011

# Pontos de Ônibus

In [46]:
# PONTOS ÚNICOS

dfPontosUnicos = dfPontos.drop_duplicates(subset='NUM', keep='first')

In [47]:
dfPontosUnicos.head()

,NOME,NUM,LAT,LON,SEQ,GRUPO,SENTIDO,TIPO,ITINERARY_ID,COD
0,"Av. Manoel Ribas, 531 - Mercês",110037,"-25,422482678274","-49,284327553297",39,,Horário,Novo mobiliário,481,010
1,"Av. Visc. de Guarapuava, 1692 - Centro",140204,"-25,432681513162","-49,258593202776",11,,Horário,Novo mobiliário,481,010
2,"R. Cap. Souza Franco, 661 - Bigorrilho",180042,"-25,432206677422","-49,292185860119",34,,Horário,Novo mobiliário,481,010
3,"Av. do Batel, 1614 - Batel",180067,"-25,442672993214","-49,288137735075",21,,Anti-horário,Novo mobiliário,482,011
4,"Viaduto Colorado, 1159 - Rebouças",140216,"-25,436607355344","-49,260179058856",38,,Anti-horário,Novo mobiliário,482,011

In [48]:
# TIPOS DE PONTOS DE ÔNIBUS

for i in dfPontosUnicos['TIPO'].unique():
    print('Ponto de ônibus do tipo',i)

Ponto de ônibus do tipo Novo mobiliário
Ponto de ônibus do tipo Estação tubo
Ponto de ônibus do tipo Plataforma
Ponto de ônibus do tipo Chapéu chinês
Ponto de ônibus do tipo Domus
Ponto de ônibus do tipo Placa em cano
Ponto de ônibus do tipo Placa em poste
Ponto de ônibus do tipo Sem demarcação
Ponto de ônibus do tipo Especial Madrugueiro
Ponto de ônibus do tipo Fora do padrão
Ponto de ônibus do tipo Concreto
Ponto de ônibus do tipo Linha Turismo
Ponto de ônibus do tipo Outros
Ponto de ônibus do tipo

In [49]:
# QUANTIDADE DE CADA TIPO DE PONTO DE ÔNIBUS

dfPontosUnicos.TIPO.value_counts()

Chapéu chinês           2184
Novo mobiliário         1996
Domus                    762
Sem demarcação           587
Placa em cano            447
Plataforma               313
Placa em poste           293
Estação tubo             288
Especial Madrugueiro     201
Linha Turismo             23
Fora do padrão            13
Concreto                   9
                           2
Outros                     1
Name: TIPO, dtype: int64

In [50]:
# NÚMERO DE PONTOS de ÔNIBUS NA CIDADE DE CURITIBA

print('Número de tipos de pontos de ônibus da cidade de Curitiba: ', dfPontosUnicos['TIPO'].nunique())
print('Número de pontos de ônibus da cidade de Curitiba: ', dfPontosUnicos['NUM'].nunique())

Número de tipos de pontos de ônibus da cidade de Curitiba:  14
Número de pontos de ônibus da cidade de Curitiba:  7119

# Linhas

In [51]:
dfLinhas['CATEGORIA_SERVICO'].count()

307

In [52]:
# CATEGORIAS DAS LINHA DE ÔNIBUS

for i in dfLinhas['CATEGORIA_SERVICO'].unique():
    print('Categoria da linha',i)

Categoria da linha CONVENCIONAL
Categoria da linha ALIMENTADOR
Categoria da linha TRONCAL
Categoria da linha LINHA DIRETA
Categoria da linha EXPRESSO
Categoria da linha INTERBAIRROS
Categoria da linha CIRCULAR CENTRO
Categoria da linha LIGEIRÃO
Categoria da linha MADRUGUEIRO
Categoria da linha JARDINEIRA

In [53]:
# QUANTIDADE DE CADA TIPO DE LINHA DE ÔNIBUS

dfLinhas.CATEGORIA_SERVICO.value_counts()

ALIMENTADOR        144
CONVENCIONAL        73
LINHA DIRETA        28
MADRUGUEIRO         19
TRONCAL             17
EXPRESSO            11
INTERBAIRROS         9
LIGEIRÃO             3
CIRCULAR CENTRO      2
JARDINEIRA           1
Name: CATEGORIA_SERVICO, dtype: int64

In [54]:
# NÚMERO DE LINHAS DE ÔNIBUS NA CIDADE DE CURITIBA

print('Número de tipos de linhas de ônibus da cidade de Curitiba: ', dfLinhas['CATEGORIA_SERVICO'].nunique())
print('Número de linhas de ônibus da cidade de Curitiba: ', dfLinhas['CATEGORIA_SERVICO'].count())

Número de tipos de linhas de ônibus da cidade de Curitiba:  10
Número de linhas de ônibus da cidade de Curitiba:  307

In [55]:
# NÚMERO DE LINHAS DE ÔNIBUS NA CIDADE DE CURITIBA QUE ACEITAM APENAS CARTÃO

print('Número de linhas de ônibus da cidade de Curitiba que só aceitam cartões: ', dfLinhas['SOMENTE_CARTAO'][dfLinhas['SOMENTE_CARTAO']=='S'].count())
print('Número de linhas de ônibus da cidade de Curitiba que só aceitam cartões em %: ', (round((dfLinhas['SOMENTE_CARTAO'][dfLinhas['SOMENTE_CARTAO']=='S'].count()/dfLinhas['SOMENTE_CARTAO'].count()),2)*100))

Número de linhas de ônibus da cidade de Curitiba que só aceitam cartões:  116
Número de linhas de ônibus da cidade de Curitiba que só aceitam cartões em %:  38.0

# Tratamento do dados

In [56]:
dfPontosUnicos = formatacao_df(dfPontosUnicos)

<ipython-input-43-1a37ac58ca08>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LAT'] = df['LAT'].str.replace(',', '.')
<ipython-input-43-1a37ac58ca08>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LON'] = df['LON'].str.replace(',', '.')
<ipython-input-43-1a37ac58ca08>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LAT'] = df['LAT'].astype(float)
<ipython-input-43-1a37ac58ca08>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LON'] = df['LON'].astype(float)
<ipython-input-43-1a37ac58ca08>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LAT'] = round(df['LAT'],6)
<ipython-input-43-1a37ac58ca08>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LON'] = round(df['LON'],6)

In [57]:
dfPontosUnicos.head()

,NOME,NUM,LAT,LON,SEQ,GRUPO,SENTIDO,TIPO,ITINERARY_ID,COD
0,"Av. Manoel Ribas, 531 - Mercês",110037,-25.422483,-49.284328,39,,Horário,Novo mobiliário,481,010
1,"Av. Visc. de Guarapuava, 1692 - Centro",140204,-25.432682,-49.258593,11,,Horário,Novo mobiliário,481,010
2,"R. Cap. Souza Franco, 661 - Bigorrilho",180042,-25.432207,-49.292186,34,,Horário,Novo mobiliário,481,010
3,"Av. do Batel, 1614 - Batel",180067,-25.442673,-49.288138,21,,Anti-horário,Novo mobiliário,482,011
4,"Viaduto Colorado, 1159 - Rebouças",140216,-25.436607,-49.260179,38,,Anti-horário,Novo mobiliário,482,011